* {
    margin: 0;
    padding: 0;
    stroke: none;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}


/* Row Container */

.contactUsContainer {
    margin: 0;
    padding: 0;
}


/* ContactForm */

.required_star {
    color: red;
}

.antispammessage {
    padding: 10px;
    border-top: 1px solid #AAA;
    font-weight: bold
}

.antispamquestion {
    font-weight: normal;
}


/* font-Aweosome */

.fa-envelope-open-text {
    /* position: relative;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -5%); */
    content: "";
    width: 100px;
    height: 100px;
    font-size: 20em;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>.input-group-text:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.btn,
.input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-text {
    border: none;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #2b2e32 !important;
}

.input-group-text i {
    font-size: 1em;
    background-color: transparent;
    opacity: 0.9;
    color: #2b2e32;
}

.text-warning {
    border: none;
    background-color: #2b2e32;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-append,
.input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.form-group {
    display: block;
}

.mb-2,
.my-2 {
    margin-bottom: .5rem!important;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 12vw
}

.test {
    margin-top: -17vw;
}

.text {
    position: relative;
    top: 10%;
    color: black;
}

.backgroundImageConctact {
    /* height: 50vw; */
    background-color: white;
}