/*--------- Global styles-------------- */

* {
    margin: 0;
    padding: 0;
}


/*---------- Header --------*/

.header {
    margin-top: 10vh;
}

.header h2 {
    text-align: center;
}


/*----- lines in main section---- */


/* Container */

.lines-container {
    display: inline-flex;
    margin-left: 45%;
    padding: 0;
}


/* First line and last line*/

.white-line {
    width: 60px;
    height: 4px;
    background-color: #E1E1E1;
}

.middle-line {
    width: 50px;
    height: 4px;
    background-color: #174873;
}


/* Middle line */


/* ---------------- The services ----------- */


/* Container */

.theServices {
    margin-top: 5vw;
    display: inline-flexbox;
    text-align: center;
}

.textForServices {
    position: relative;
    left: 50%;
    transform: translate(-100%, 10%);
}

.textForServices h3 {
    padding-bottom: 30px;
}

.textForServices p {
    padding-top: 20px;
    font-size: 1.4em
}

.blue-down-line {
    height: 2px;
    width: 80px;
    background-color: #174873;
    margin-left: 40%;
}